<div
  style="float: left; position: relative; left: 50%;"
  > <div
  style="float: left; position: relative; left: -50%;"
  > .headings {
  font-family: "Cinzel", serif;
  color: #000000;
}
* The animation code */
@keyframes example {
  0%   {background-color: black;}
  25%  {background-color: #1e2126;}
  50%  {background-color: #30343b;}
  100% {background-color: white;}
}

/* The element to apply the animation to */
div {
  width: 100px;
  height: 100px;
  background-color: white;
  animation-name: example;
  animation-duration: 4s;
}
span {
  font-family: Caveat;
}
.big {
  font-size: 40px;
  font-weight: bold;
}
.body {
  font-size: 30px;
}

#awesome {
  font-size: 70px;
}
#inputbox {
  width: 300px;
  border-color: grey;
  border-style: dashed;
  border-width: 2px;
}
#submit {
  border-color: black;
  border-width: 3px;
  border-style: dashed;
  margin-left: 10px;
}

.completed {
  text-decoration: line-through;
}
.remove {
  float: right;
  cursor: pointer;
}
img {
  border-radius: 20px;
  width: 250px;
}
